@font-face {
  font-family: 'Lince TH Sans';
  src: url('/fonts/Lince-TH-Sans/LinceTHSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lince TH Sans';
  src: url('/fonts/Lince-TH-Sans/LinceTHSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lince TH Sans';
  src: url('/fonts/LinceTHSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lince TH Sans';
  src: url('/fonts/LinceTHSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}


